doctype html
html(lang="en")
head
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    title pye oauth - soundcloud
body(onload="window.opener.setTimeout(window.opener.SC.connectCallback, 1)")
    h1 this popup window should close automatically