#creating-playlists{
    h1{
        font-weight: 300;
        font-size: 2em;
        margin-top: 0;
    }
    .userscript-plugins{
        text-align: center;

        a{
            margin: 0 10px;
        }
    }
    .userscript-button{
        text-align: center;
    }

    .alert{
        margin-bottom: -20px;
    }
}