@import "_animations";
@import "_common";
@import "_head";
@import "_creating_playlists";


#main{
    padding: 50px;
    height: 100%;
    width: 100%;

    & > .row{
        height: 100%;
    }
}

#loader{
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    .icon{
        margin-right: 10px;
    }
}

#file-input{
    position: fixed;
    top: -5000px;
    left: -5000px;
}

#body{
    height: 100%;
}

.step{
    display: none;
    height: 100%;
    width: 100%;
    position: relative;
    .step-title{
        opacity: 0.4;
    }
}

#step-1{
    display: block;
    .icon{
        position: relative;
        font-size: 24px;
        top: -5px;
        margin-left: -20px;
        margin-right: 20px;
    }
    .loading{
        font-weight: 300;
        font-size: 3.4em;
    }
}

#step-2{
    .error{
        display: none;
    }
    .file-upload{
        width: 100%;
        max-width: 500px;
    }
    .drop{
        cursor: pointer;
        width: 100%;
        max-width: 500px;
        border: 2px darken(white, 50%) dashed;
        min-height: 150px;
    }
    p{
        margin: 0;
    }
}