#main{
    padding: 50px;
}

#head{
    text-align: center;
}

.logo{
    margin-bottom: 10px;
}

hr{
    margin: 5px 0;
    border-color: darken(#FFF, 40%);
}

#head .links{
    font-size: 1.2em;
    line-height: 2em;
    position: relative;

    a{
        display: block;
        position: absolute;
        top: 0;
        width: 50%;
    }

    .github{
        left: 0;
    }

    .creator{
        right: 0;
    }
}

#tasks{
    margin-top: 20px;
    text-align: left;

    .task{
        position: relative;
        font-size: 1.2em;
        line-height: 1.8em;
        font-weight: 300;

        & > *{
            display: inline-block;
        }

        &.done .icon:before{
            content: '\e013'; //glyphicon-ok
            color: rgb(132, 255, 103);
        }

        &.wait .icon:before{
            content: '\e023'; //glyphicon-time
            color: rgb(246, 255, 131);
        }

        &.fail .icon:before{
            content: '\e014'; //glyphicon-remove
            color: rgb(255, 132, 103);
        }

        .icon{
            text-align: center;
            font-family: 'Glyphicons Halflings';
            width: 25px;
            margin-right: 10px;
            font-size: 0.8em;
        }

        .meta{
            &:after{
                content: '\00A0';
            }
            display: block;
            font-size: 0.7em;
            line-height: 1.2em;
            margin-bottom: 5px;
            color: darken(#FFF, 20%);
            margin-left: 35px;
        }
    }
}